:root {
  --primary-color: #fde047;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  padding: 1rem;
  background-color: var(--primary-color);
}

#text-area {
  width: 50%;
  height: 10vh;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
}

#translate-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

.output {
  border: 1px solid black;
  height: 10vh;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}